[Unit]
Description=Mango autostart
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=$HOME/.config/mango/autostart.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
